<?xml version="1.0" encoding="utf-8"?>
<ROOT>
	<CONFIG>
        <name>thumbnails</name>
        <comment>_THUMBNAILS_COMMENT</comment>
        <loaded>true</loaded>
    <docserver_id>TNL</docserver_id><no_file>C:\xampp\htdocs\maarch_courrier/modules/thumbnails/no_thumb.png</no_file></CONFIG>
</ROOT>
