<?xml version="1.0" encoding="utf-8"?>
<ROOT>
    <CONFIG>
        <databaseserver>localhost</databaseserver>
        <databaseserverport>5432</databaseserverport>
        <databasetype>POSTGRESQL</databasetype>
        <databasename>maarch_db</databasename>
        <databaseuser>postgres</databaseuser>
        <databasepassword>fallasweb</databasepassword>
        <databasesearchlimit>500</databasesearchlimit>
        <nblinetoshow>10</nblinetoshow>
        <limitcharsearch>2</limitcharsearch>
        <lang>fr</lang>
        <adminmail>dev@maarch.org</adminmail>
        <adminname>maarch</adminname>
        <debug>false</debug>
        <applicationname>MAARCH 1.6</applicationname>
        <defaultPage>welcome</defaultPage>
        <exportdirectory/>
        <CookieTime>20</CookieTime> <!-- minutes -->
        <ldap>false</ldap> <!-- if true, ldap authentification, see ldap xml config file -->
        <userdefaultpassword>maarch</userdefaultpassword> <!-- default user's password -->
        <usePDO>false</usePDO>
        <usePHPIDS>false</usePHPIDS>
    </CONFIG>
    <CRYPT>
        <encrypt>false</encrypt>
        <pathtopublickey>/home/user/maarchkey.pub</pathtopublickey>
        <pathtoprivatekey>/home/user/maarchkey</pathtoprivatekey>
    </CRYPT>
    <TABLENAME>
        <doctypes_first_level>doctypes_first_level</doctypes_first_level>
        <doctypes_second_level>doctypes_second_level</doctypes_second_level>
        <mlb_doctype_ext>mlb_doctype_ext</mlb_doctype_ext>
        <doctypes_indexes>doctypes_indexes</doctypes_indexes>
        <saved_queries>saved_queries</saved_queries>
        <contacts_v2>contacts_v2</contacts_v2>
        <contact_types>contact_types</contact_types>
        <contact_purposes>contact_purposes</contact_purposes>
        <contact_addresses>contact_addresses</contact_addresses>
        <tags>tags</tags>
    </TABLENAME>
    <WORKBATCH>
        <size>100</size>
    </WORKBATCH>
    <COLLECTION>
        <id>letterbox_coll</id>
        <label>_LETTERBOX</label>
        <table>res_letterbox</table>
        <version_table>res_version_letterbox</version_table>
        <view>res_view_letterbox</view>
        <adr>adr_x</adr>
        <index_file>index_letterbox.xml</index_file>
        <script_add>index_letterbox.php</script_add>
        <script_search>search_letterbox.php</script_search>
        <script_search_result>list_results_letterbox.php</script_search_result>
        <script_details>details.php</script_details>
        <extensions>
            <table>mlb_coll_ext</table>
        </extensions>
        <path_to_lucene_index>C:\maarchindexes/letterbox_coll/</path_to_lucene_index>
        <categories>
            <category>
                <id>incoming</id>
                <label>_INCOMING</label>
            </category>
            <category>
                <id>outgoing</id>
                <label>_OUTGOING</label>
            </category>
            <category>
                <id>internal</id>
                <label>_INTERNAL</label>
            </category>
            <category>
                <id>ged_doc</id>
                <label>_GED_DOC</label>
            </category>
            <default_category>incoming</default_category>
        </categories>
    </COLLECTION>
    <COLLECTION>
        <id>attachments_coll</id>
        <label>_ATTACHMENTS_COLL</label>
        <table>res_attachments</table>
        <version_table>res_version_attachments</version_table>
        <view>res_view_attachments</view>
        <adr>adr_attachments</adr>
        <index_file>index_attachments.xml</index_file>
        <script_add>index_attachments.php</script_add>
        <script_search>search_attachments.php</script_search>
        <script_search_result>list_results_attachments.php</script_search_result>
        <script_details>details_attachments.php</script_details>
        <extensions>
            <table/>
        </extensions>
        <path_to_lucene_index>C:\maarchindexes/attachments_coll/</path_to_lucene_index>
        <categories>
            <category>
                <id>incoming</id>
                <label>_INCOMING</label>
            </category>
            <default_category>incoming</default_category>
        </categories>
    </COLLECTION>
    <COLLECTION>
        <id>version_attachments_coll</id>
        <label>_ATTACHMENTS_VERS_COLL</label>
        <table>res_version_attachments</table>
        <version_table>res_version_attachments</version_table>
        <view>res_view_attachments</view>
        <adr>adr_attachments</adr>
        <index_file>index_attachments.xml</index_file>
        <script_add>index_attachments.php</script_add>
        <script_search>search_attachments.php</script_search>
        <script_search_result>list_results_attachments.php</script_search_result>
        <script_details>details_attachments.php</script_details>
        <extensions>
            <table/>
        </extensions>
        <path_to_lucene_index>C:\maarchindexes/version_attachments_coll/</path_to_lucene_index>
        <categories>
            <category>
                <id>incoming</id>
                <label>_INCOMING</label>
            </category>
            <default_category>incoming</default_category>
        </categories>
    </COLLECTION>
    <HISTORY>
        <usersdel>true</usersdel>
        <usersban>true</usersban>
        <usersadd>true</usersadd>
        <usersup>true</usersup>
        <usersval>true</usersval>
        <doctypesdel>true</doctypesdel>
        <doctypesadd>true</doctypesadd>
        <doctypesup>true</doctypesup>
        <doctypesval>true</doctypesval>
        <doctypesprop>true</doctypesprop>
        <usergroupsdel>true</usergroupsdel>
        <usergroupsban>true</usergroupsban>
        <usergroupsadd>true</usergroupsadd>
        <usergroupsup>true</usergroupsup>
        <usergroupsval>true</usergroupsval>
        <structuredel>true</structuredel>
        <structureadd>true</structureadd>
        <structureup>true</structureup>
        <subfolderdel>true</subfolderdel>
        <subfolderadd>true</subfolderadd>
        <subfolderup>true</subfolderup>
        <resadd>true</resadd>
        <resup>true</resup>
        <resdel>true</resdel>
        <resview>true</resview>
        <resversionadd>true</resversionadd>
        <userlogin>true</userlogin>
        <userlogout>true</userlogout>
        <actionadd>true</actionadd>
        <actionup>true</actionup>
        <actiondel>true</actiondel>
        <contactadd>true</contactadd>
        <contactup>true</contactup>
        <contactdel>true</contactdel>
        <statusadd>true</statusadd>
        <statusup>true</statusup>
        <statusdel>true</statusdel>
        <docserversadd>true</docserversadd>
        <docserversdel>true</docserversdel>
        <docserversallow>true</docserversallow>
        <docserversban>true</docserversban>
        <docserverslocationsadd>true</docserverslocationsadd>
        <docserverslocationsdel>true</docserverslocationsdel>
        <docserverslocationsallow>true</docserverslocationsallow>
        <docserverslocationsban>true</docserverslocationsban>
        <docserverstypesadd>true</docserverstypesadd>
        <docserverstypesdel>true</docserverstypesdel>
        <docserverstypesallow>true</docserverstypesallow>
        <docserverstypesban>true</docserverstypesban>
        <contact_types_del>true</contact_types_del>
        <contact_types_add>true</contact_types_add>
        <contact_types_up>true</contact_types_up>
        <contact_purposes_del>true</contact_purposes_del>
        <contact_purposes_add>true</contact_purposes_add>
        <contact_purposes_up>true</contact_purposes_up>
        <contact_addresses_del>true</contact_addresses_del>
        <contact_addresses_add>true</contact_addresses_add>
        <contact_addresses_up>true</contact_addresses_up>
    </HISTORY>
    <KEYWORDS>
        <id>ERR</id>
        <label>_ERR</label>
    </KEYWORDS>
    <KEYWORDS>
        <id>VIEW</id>
        <label>_VIEW</label>
    </KEYWORDS>
    <KEYWORDS>
        <id>ADD</id>
        <label>_ADDITION</label>
    </KEYWORDS>
    <KEYWORDS>
        <id>UP</id>
        <label>_MODIFICATION</label>
    </KEYWORDS>
    <KEYWORDS>
        <id>DEL</id>
        <label>_DELETION</label>
    </KEYWORDS>
    <KEYWORDS>
        <id>BAN</id>
        <label>_SUSPENSION</label>
    </KEYWORDS>
    <KEYWORDS>
        <id>VAL</id>
        <label>_VALIDATION</label>
    </KEYWORDS>
    <KEYWORDS>
        <id>LOGIN</id>
        <label>_LOGIN</label>
    </KEYWORDS>
    <KEYWORDS>
        <id>LOGOUT</id>
        <label>_LOGOUT</label>
    </KEYWORDS>
    <MODULES>
        <moduleid>attachments</moduleid>
        <comment>_ATTACHMENTS_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>basket</moduleid>
        <comment>_BASKETS_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>cases</moduleid>
        <comment>_CASES_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>entities</moduleid>
        <comment>_ENTITIES_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>fileplan</moduleid>
        <comment>_FILEPLAN_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>folder</moduleid>
        <comment>_FOLDERS_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>full_text</moduleid>
        <comment>_FULL_TEXT</comment>
    </MODULES>
    <MODULES>
        <moduleid>notes</moduleid>
        <comment>_NOTES_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>notifications</moduleid>
        <comment>_NOTIFICATIONS_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>templates</moduleid>
        <comment>_TEMPLATES_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>reports</moduleid>
        <comment>_REPORTS_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>life_cycle</moduleid>
        <comment>_LIFE_CYCLE_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>content_management</moduleid>
        <comment>_CONTENT_MANAGEMENT_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>tags</moduleid>
        <comment>_TAGS_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>sendmail</moduleid>
        <comment>_SENDMAIL_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>thumbnails</moduleid>
        <comment>_THUMBNAILS_COMMENT</comment>
    </MODULES>
	<MODULES>
        <moduleid>visa</moduleid>
        <comment>_VISA_WORKFLOW_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>avis</moduleid>
        <comment>_AVIS_WORKFLOW_COMMENT</comment>
    </MODULES>
    <MODULES>
        <moduleid>thesaurus</moduleid>
        <comment>_THESAURUS_COMMENT</comment>
    </MODULES>
</ROOT>
