#fullWrapper #header {
	height: 120px;
	width: 910px;
	text-align: left;
}

#fullWrapper #header .headerName {
	position: relative;
	top: 18px;
	left: 0px;
	float: left;
}

#fullWrapper #header .headerName h2 {
	font-size: 70px;
	font-family: 'Contrail One';
	color: rgba(81, 112, 144, 1);
}

#fullWrapper #header .logo {
	position: relative;
	top: 17px;
	right: 0px;
	float: right;
}
